.link-button {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: max-content
}

.link-button > p {
  color: var(--text-color);
  transition: color 0.2s;
  margin: 0;
}

.link-button > span {
  opacity: 0;
  position: absolute;
  color: transparent;
  user-select: none;
  text-shadow: 0 0 3px var(--yellow);
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
  width: 100%;
}

@media (hover: hover) {
  .link-button:hover > span {
    opacity: 0.5;
  }
  
  .link-button:hover > p {
    color: var(--yellow);
  }
}
