.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.25s;
  z-index: 60;
}

.container.active {
  opacity: 1;
  transform: translateX(0);
}

.modal {
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 10px lightgrey;
  border-radius: 22px;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 60;
  padding: 2rem;
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: grey;
  opacity: 0.4;
  z-index: 59;
}

@media (max-width: 900px) {
  .modal {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .modal {
    width: 80%;
  }
}