.fixed-header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.header-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  max-width: var(--max-w);
  padding: var(--px-big);
}

.header-menu .left {
  margin: 0;
}

.header-menu > .right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.burger {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  display: none;
}

.burger > svg {
  width: 2.5rem;
  height: 2.5rem;
}

.logo {
  cursor: pointer;
  margin: 0 0.75rem 0 0;
}

.link {
  font-weight: bold;
  padding: 0.5rem 1.25rem;
}

.cta {
  width: 11.25rem;
  height: 3.5rem;
  margin-left: 0.625rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
}

@media (max-width: 960px) {
  .header-menu > .right {
    display: none;
  }

  .burger {
    display: inline-block;
    margin-right: 1rem;
  }
}

@media (max-width:799px) {
  .header-menu {
    padding: var(--px-small);
  }
}